wget https://repo.anaconda.com/archive/Anaconda3-2024.02-1-Linux-x86_64.sh
chmod 775 Anaconda3-2024.02-1-Linux-x86_64.sh
./Anaconda3-2024.02-1-Linux-x86_64.sh 

cd /dataspace/diskspace/Anaconda
conda activate myenv

conda create --name myenv python=3.9
conda activate myenv
conda install pytorch==1.9.0 torchvision==0.10.0 torchaudio==0.9.0 cudatoolkit=11.1 -c pytorch -c nvidia

pip install tensorboard_logger  
pip install --upgrade "protobuf<=3.20.1" 
pip install librosa     

conda install anaconda::django 
pip install django pydub
sudo apt-get install ffmpeg 
sudo apt-get install libav-tools

pip install django-sslserver
